header{
  display: flex;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 69px;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  z-index: 10px;
}
.main-nav{
  display: flex;
  flex-grow: 1;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  padding-left: 100px;
}
.main-nav span{
  display: flex;
  padding: 10px;
}
body{
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: seashell;
  font-size: 22px;
  background-color: black;
}
.main.container{
  display: flex;
  height: 700px;
  width: 1200px;
  margin: auto;
  justify-content: center;
  text-align: center;
  background-image: url("../images/img-mission-background.jpg");
  opacity: 0.9;
  flex-flow: column wrap;
}
.mission{
background-color: black;
text-align: center;
margin-top: 10px;
margin-bottom: 0px;
width: 1200px;
height: 100px;
}
.content{
  margin: auto;
  background-color: black;
  width: 100%;
  height: 100px;
}
